.note{
    height: 40vh;
    width: 40vh;
    padding: 20px;
    background-color: brown;
    border-radius: 30px;
    display: flex;    
    flex-direction: column;    
    
}
.note_textarea{
    flex: 1;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    column-width: 20px;
    color: white;
}