.note{
    height: 40vh;
    width: 40vh;
    padding: 20px;
    /* background-color: brown; */
    border-radius: 30px;
    display: flex;    
    flex-direction: column;    
    
}
.note_textarea{
    flex: 1;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    column-width: 20px;
    color: white;
}
.note_time{
    text-align: center;
}

/* own scroll bar for the text area */

.note_textarea::-webkit-scrollbar{
    width: 10px;
}
.note_textarea::-webkit-scrollbar-track{
    background-color: transparent;
}
.note_textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: gray;
    transition: 300ms;
}
/* .note_textarea::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
} */
.note_textarea::-webkit-scrollbar-track:hover{
    background-color: rgb(185, 184, 184);
    border-radius: 10px;
}